

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1>EAT DA BURGER!</h1>
            <p>And the User said: "Let there be Burger!" And there WAS Burger. And it was Good.</p>
        </div>
    </div>
</div>

<div class="row" id="burger-container">
    <div id="freshBurger" class="col-md-offset-1 col-md-4">
        {{#each burger}}
            {{#unless this.devoured}}
                <div class="burgerDiv">
                    <form class="inline-form" action="/?_method=PUT" method="POST">
              <div class="form-group">
                <label class="burger-label" for="burger-id">{{this.id}}. {{this.burger_name}}</label>
                <input type="hidden" id="burger-id" name="id" value="{{this.id}}"/>
                <button class="btn btn-success" type="submit">Devour it!</button>
              </div>
            </form>

                </div>
            {{/unless}}
            {{/each}}
    </div>

    <div id="devourBurger" class="col-md-offset-1 col-md-4">
        <div class="devourDiv">
            {{#each burger}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}.">
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				{{!-- enter burger name here --}}
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat and click the "Submit" button.</p>
		</div>
	</div>
</div>